{% extends 'base.html' %}

{% block title %}
Students list
{% endblock %}

{% block body %}
<div class="col-6 mx-auto">
  <br>
  <div>Список студентов</div>
  <br>
  <div class="list-group">
    {% for student_id in students %}
    <a href="{{ url_for('student_app.details', student_id=student_id) }}" class="list-group-item list-group-item-action">{{ students[student_id] }}</a>
    {% endfor %}
  </div>
  <br>
  <a class="btn btn-primary" href="{{ url_for('student_app.add') }}" role="button">Добавить студента</a>
</div>
{% endblock %}
