{% extends 'base.html' %}

{% block title %}
Add Student
{% endblock %}

{% block body %}
<div class="col-6 mx-auto">
  <br>
  <form method="post">
    <label for="student-name-id">Имя студента</label>
    <input id="student-name-id" name="student-name" class="form-control" type="text" required>
    <br>
    <button id="submit-id" type="submit" class="btn btn-primary">Добавить</button>
  </form>
  <br>
  <a class="btn btn-primary" href="{{ url_for('student_app.list') }}" role="button">Список студентов</a>
</div>
<script>
  const inputName = document.getElementById('student-name-id');
  const button = document.getElementById('submit-id');
  button.disabled = 'disabled';
  inputName.addEventListener('input', function () {
    if (inputName.value) {
      button.disabled = false;
    } else {
      button.disabled = 'disabled';
    }
  })
</script>
{% endblock %}
