{% extends 'base.html' %}

{% block title %}
Student #{{ student_id }}
{% endblock %}


{% block body %}
<div class="col-6 mx-auto">
  <br>
  <div>{{ student.name }}</div>
  <br>
  <a class="btn btn-primary" href="{{ url_for('student_app.list') }}" role="button">Список студентов</a>
</div>
{% endblock %}
