<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <title>
  {% block title %}
    Base title
  {% endblock %}
  </title>
</head>

<body>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<div>
{% block body %}
  Base body
{% endblock %}
</div>
</body>

</html>
